/***Variables propias*****/
:root{
    --fuente-nav:"Funnel Sans", sans-serif;
    --fuente-text:"Italianno", cursive;
}

/****Globales***/

.Header{
    /***Maquetacion***/
    display: flex;
    justify-content: end;
    gap: 60%;
    width: 90%;
    margin: auto;
}
.Header_Enlaces {
    /***Maquetacion***/
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
a:any-link {
    /**Estilo ***/
    text-decoration: none;
    color: black;
}
h1,h3 {
    /**Estilo ***/
    font-family: var(--fuente-nav);
}
p , h4, h2{
    /**Estilo ***/
    font-weight: 500;
    font-family: var(--fuente-text);
}
/*****Pagina Inicio***/

.MainInicio {
    /***Maquetacion***/
    margin-top: 250px;
    justify-content: center;
    display: grid;
    grid-template-columns: 40% 50%;
    align-items: center;
    justify-items: center;
    text-align: center;
    /**Estilo ***/
    font-size: 50px;
}
/*****Pagina Menu***/
.MainMenu{
    text-align: center;
    font-size: 25px;
}
.MainMenu_Contenido{
    /**Maquetacion ***/
    text-align: center;
    display: grid;
    margin-top: 100px;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    column-gap: 10%;
    /**Estilo ***/
    
    
}

.MainMenu_Contenido img {
    /**Maquetacion ***/
    width: 100%;
}
.MainMenu_Contenido div {
    /**Estilo ***/
    box-shadow: 3px 3px 2px rgba(20,20,20, 30%);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
/*****Pagina Quienes somos***/
.MainQS {
    /**Maquetacion ***/
    text-align: center;
    /**Estilo ***/
    font-size: 50px;
}
.MainQS_Contenido{
    /**Maquetacion ***/
    margin-top: 100px;
    display: grid;
    grid-template-columns: 30% 40%;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    
}
.MainQS_Contenido img {
    /**Estilo ***/
    border-radius: 15px;
}



/****Responsive****/
@media (max-width: 480px) {
    /****Globales***/
    .Header{
        /***Maquetacion***/
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 50px;
        align-items: center;
    }
    .Header_Enlaces {
        /***Maquetacion***/
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    }

    /*****Pagina Inicio***/
    .MainInicio {
        /***Maquetacion***/
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 20%;
        
    }
    .MainInicio .Imagen img {
        /**Estilo ***/
        margin-top: 50px;
        width: 300px;
    }

    /*****Pagina Menu***/ 
    .MainMenu_Contenido {
        /***Maquetacion***/
        margin: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 80%;
        row-gap: 30px;
    }
    .MainMenu img {
        /**Estilo ***/
        width: 100%;
    }

    /*****Pagina Quienes somos***/
    .MainQS {
        /***Maquetacion***/
        text-align: center;
        margin-top: 50px;
        /**Estilo ***/
        font-size: 30px;
    }
    .MainQS_Contenido{
        /***Maquetacion***/
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    .MainQS_Contenido  img {
        /**Estilo ***/
        width: 400px;
    }
    
}   